<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
    <h1>Tp3 BusinessView Designer (Streetview)</h1>

    <f:flashMessages />
    <f:render partial="Tp3BusinessView/Finder" arguments="{businessviews:businessviews, panoramas:panoramas, settings:settings}" />
    <br>


    <div class="recordlists">
        <f:if condition="{businessviews->f:count()} < 1}">
            <f:then>
                <f:render partial="Tp3BusinessView/Intro" arguments="{conf:conf}" />

            </f:then>
            <f:else>
            <div class="businessviewlist clearfix">
            <h2>Businessviews</h2>
                <f:for each="{businessviews}" as="businessview" iteration="Iterator">
                    <f:if condition="{Iterator.index} < 1">
                        <f:then>
                            <div class="head">
                                <f:render partial="Tp3BusinessView/Labels" arguments="{properties:businessview.propertiesArray}" />
                            </div>
                        </f:then>
                    </f:if>
                    <div id="bw_{businessview.uid}_{businessview.pid}" class="bwentry">
                        <f:render partial="Tp3BusinessView/Properties" arguments="{properties:businessview.propertiesArray}" />

                    </div>
                    <table id="bw_{Iterator.index}_{businessview.uid}" class="panolist bwlist">
                        <tr>
                            <td><b>Titel</b></td>
                            <td><b>Pano ID</b></td>
                            <td><b>POV Heading</b>/<b>POV Pitch</b>/<b>zoom</b></td>
                            <td><b>Position</b></td>
                            <td><b>Sorting</b></td>
                        </tr>
                    <f:for each="{businessview.panoramas}" as="panorama">
                        <f:render partial="Tp3BusinessView/Panorama" arguments="{panorama:panorama}" />
                    </f:for>
                    </table>
                </f:for>
            </div>
            <h2>Panoramas</h2>
            <table class="panolist">
                <tr>
                    <td><b>Titel</b></td>
                    <td><b>Pano ID</b></td>
                    <td><b>POV Heading</b>/<b>POV Pitch</b>/<b>zoom</b></td>
                    <td><b>Position</b></td>
                    <td><b>Sorting</b></td>
                </tr>
                <f:for each="{panoramas_all}" as="panorama">
                    <f:render partial="Tp3BusinessView/Panorama" arguments="{panorama:panorama}" />
                </f:for>
            </table><br>
            <h2>Business </h2>
            <table class="addresslist">
                <tr> <td><b>name</b></td>
                    <td><b>google place_id</b></td>
                    <td><b>geo</b></td></tr>
                <f:for each="{addresses}" as="addressest">
                    <f:for each="{addressest}" as="address">
                        <f:render partial="Tp3BusinessView/Address" arguments="{address:address}" />
                    </f:for>
                </f:for>
            </table>

        </f:else>
        </f:if>

        <script>
            window.businessviewJsonsArray = window.businessviewJsonsArray || [];
            <f:for each="{businessViewJson}" as="Json"  iteration="Iterator">

                <f:if condition="{Iterator.index} < 1">
                    <f:then>
                        window.businessviewJson =  window.businessviewJson || <f:format.raw>{Json}</f:format.raw>;
                    </f:then>
                </f:if>

                window.businessviewJsonsArray[{Iterator.index}]=<f:format.raw>{Json}</f:format.raw>;
            </f:for>

        </script>

    </div>
</f:section>
</html>
