<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
    <div id="tp3businessview-businessview-canvas" class="businessview"></div>
</f:section>
</html>
