

div#businessview-canvas {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-variant: normal;
    font-weight: normal;
    color: #333;
    height: 100%;
    min-height: 319.999px;
    min-width: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

div#businessview-canvas ul, div#businessview-canvas div {
    z-index: 3;
}

div#businessview-canvas div#businessview-panorama-canvas {
    height: 100%;
    width: 100%;
}

div#businessview-canvas div#businessview-panorama-canvas img {
    max-width: none;
}

div#businessview-canvas div#businessview-panorama-canvas figure img {
    max-width: 100%;
}

div#businessview-canvas ul[id^="business"], div#businessview-canvas ul[class^="business"] {
    margin: 0px;
    padding: 0px;
    position: absolute;
}

div#businessview-canvas ul li {
    list-style: none;
    margin: 0px;
}

#businessview-externalLinks-canvas ul li {
    text-align: center;
}

div#businessview-canvas ul#businessview-area-canvas {
    top: 10px;
    left: 50%;
}

div#businessview-canvas ul#businessview-area-canvas li {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 3px 6px;
}

@media (max-width: 767px) {
    div#businessview-canvas ul#businessview-area-canvas {
        left: 10px;
        margin-left: 0px !important;
        top: 5px;
    }

    div#businessview-canvas ul#businessview-area-canvas li {
        margin: 5px 0px;
    }
}

@media (min-width: 768px) {
    div#businessview-canvas ul#businessview-area-canvas {
        text-align: center;
        max-width: 74%;
    }

    div#businessview-canvas ul#businessview-area-canvas li {
        display: inline-block;
        margin: 0px 2px 3px 2px;
    }
}

div#businessview-canvas ul#businessview-area-canvas li.active, div#businessview-canvas ul#businessview-area-canvas li:hover {
    background: rgba(255, 255, 255, 0.8);
}

div#businessview-canvas ul#businessview-action-canvas {
    top: 10px;
    right: 10px;
}

div#businessview-canvas ul#businessview-action-canvas li {
    cursor: pointer;
    display: none;
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

div#businessview-canvas ul#businessview-action-canvas li.active {
    display: block;
}

div#businessview-canvas ul#businessview-action-canvas li.permanent {
    display: block !important;
}

div#businessview-canvas ul#businessview-action-canvas li i.fa {
    margin-right: 10px;
}

div#businessview-canvas ul#businessview-action-canvas li.small {
    font-size: 14px;
}

div#businessview-canvas ul#businessview-action-canvas li.medium {
    font-size: 18px;
}

div#businessview-canvas ul#businessview-action-canvas li.large {
    text-align: center;
    font-size: 18px;
}

div#businessview-canvas ul#businessview-action-canvas li.large i {
    display: block;
    font-size: 40px;
    padding: 15px;
    margin: 0px;
}

@media (max-width: 1024px) {
    div#businessview-canvas ul#businessview-action-canvas li.medium {
        font-size: 14px;
    }

    div#businessview-canvas ul#businessview-action-canvas li.large {
        font-size: 14px;
    }

    div#businessview-canvas ul#businessview-action-canvas li.large i {
        font-size: 20px;
        padding: 10px;
    }
}

div#businessview-canvas div#businessview-contact-canvas {
    background: rgba(255, 255, 255, 0.8);
    bottom: 10px;
    color: #FFF;
    max-width: 280px;
    padding: 10px;
    position: absolute;
    z-index: 4;
}

div#businessview-canvas div#businessview-contact-canvas.left {
    left: 10px;
    bottom: 32px;
}

div#businessview-canvas div#businessview-contact-canvas.center {
    left: 50%;
}

div#businessview-canvas div#businessview-contact-canvas.right {
    right: 10px;
    bottom: 22px;
}

div#businessview-canvas div#businessview-contact-canvas div#businessview-show-contact-details {
    cursor: pointer;
}

div#businessview-canvas div#businessview-contact-canvas div#businessview-contact-details i.fa-times {
    cursor: pointer;
    float: right;
    margin: -10px -10px 0px 0px;
    padding: 5px;
}

@media (max-width: 799px) {
    div#businessview-canvas div#businessview-contact-canvas div#businessview-contact-details {
        display: none;
    }
}

@media (min-width: 800px) {
    div#businessview-canvas div#businessview-contact-canvas div#businessview-show-contact-details {
        display: none;
    }
}

div#businessview-canvas div#businessview-contact-canvas p {
    margin: 0 0 10px;
}

div#businessview-canvas div#businessview-contact-canvas p.name {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}

div#businessview-canvas div#businessview-contact-canvas p.phone, div#businessview-canvas div#businessview-contact-canvas p.email, div#businessview-canvas div#businessview-contact-canvas p.website {
    margin-bottom: 0px;
}

div#businessview-canvas div#businessview-contact-canvas p#opening-hours {
    margin-top: 10px;
    margin-bottom: 0px;
}

div#businessview-canvas div#businessview-contact-canvas a {
    color: inherit;
    text-decoration: none;
}

div#businessview-canvas div#businessview-contact-canvas a:hover {
    text-decoration: underline;
}

div#businessview-canvas div#businessview-contact-canvas i.fa {
    margin-right: 10px;
}

div#businessview-canvas div#businessview-opening-hours-canvas {
    background: rgba(255, 255, 255, 0.8);
    bottom: 32px;
    color: #333;
    padding: 10px;
    position: absolute;
    left: 10px;
}

div#businessview-canvas div#businessview-opening-hours-canvas p#opening-hours {
    margin: 0px;
}

div#businessview-canvas div#businessview-custom-canvas {
    background: rgba(255, 255, 255, 0.9);
    color: #FFF;
    max-width: 300px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
}

div#businessview-canvas div#businessview-custom-canvas.left {
    left: 10px;
}

div#businessview-canvas div#businessview-custom-canvas.center {
    left: 50%;
}

div#businessview-canvas div#businessview-custom-canvas.right {
    right: 10px;
}

div#businessview-canvas div#businessview-custom-canvas.top {
    top: 10px;
}

div#businessview-canvas div#businessview-custom-canvas.middle {
    top: 50%;
}

div#businessview-canvas div#businessview-custom-canvas.bottom {
    bottom: 10px;
}

div#businessview-canvas div#businessview-custom-canvas.left.bottom {
    bottom: 30px;
}

div#businessview-canvas ul#businessview-gallery-canvas {
    background: rgba(255, 255, 255, 0.8);
    bottom: 20px;
    left: 50%;
    list-style: none;
    margin: 0px;
    padding: 4px;
    position: absolute;
    z-index: 4;
}

div#businessview-canvas ul#businessview-gallery-canvas li {
    cursor: pointer;
    display: none;
    float: left;
    height: 50px;
    margin: 0px 0px 0px 4px;
    max-width: 60px;
    padding: 0px;
    overflow: hidden;
}

div#businessview-canvas ul#businessview-gallery-canvas li:first-child {
    margin-left: 0px;
}

div#businessview-canvas ul#businessview-gallery-canvas li:nth-child(-n+2) {
    display: block;
}

@media (min-width: 500px) {
    div#businessview-canvas ul#businessview-gallery-canvas li:nth-child(-n+4) {
        display: block;
    }
}

@media (min-width: 860px) {
    div#businessview-canvas ul#businessview-gallery-canvas li:nth-child(-n+6) {
        display: block;
    }
}

@media (min-width: 1024px) {
    div#businessview-canvas ul#businessview-gallery-canvas li:nth-child(-n+8) {
        display: block;
    }
}

div#businessview-canvas ul#businessview-gallery-canvas li img {
    height: 50px;
}

div#businessview-canvas div#businessview-intro-canvas {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    left: 50%;
    max-width: 400px;
    padding: 10px;
    position: absolute;
    top: 60px;
}

@media (max-width: 767px) {
    div#businessview-canvas div#businessview-intro-canvas {
        max-width: 240px;
    }
}

div#businessview-canvas div#businessview-intro-canvas h1, div#businessview-canvas div#businessview-intro-canvas p {
    margin: 0px;
    word-wrap: break-word;
}

div#businessview-canvas div#businessview-intro-canvas h1 + p {
    margin-top: 10px;
}

div#businessview-canvas div#businessview-intro-canvas h1 {
    font-size: 24px;
}

div#businessview-canvas div#businessview-intro-canvas a {
    color: inherit;
}

div#businessview-canvas div#businessview-intro-canvas i.fa-times {
    cursor: pointer;
    float: right;
}

div#businessview-canvas div#businessview-navigation-canvas {
    left: 140px;
    position: absolute;
    top: 10px;
}

div#businessview-navigation-canvas ol.dl-menu li span {
    text-decoration: none !important;
}

.dl-menuwrapper {
    width: 100%;
    color: #333;
    max-width: 180px;
    float: left;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    -moz-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
}

.dl-menuwrapper:first-child {
    margin-right: 100px;
}

.dl-menuwrapper button {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    font-size: 30px;
    height: 34px;
    line-height: 30px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 38px;
}

.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active {
    background: rgba(255, 255, 255, 0.8);
}

.dl-menuwrapper button.pulse {
    -webkit-animation: pulse 1s 20 alternate;
    -moz-animation: pulse 1s 20 alternate;
    -ms-animation: pulse 1s 20 alternate;
    -o-animation: pulse 1s 20 alternate;
    animation: pulse 1s 20 alternate;
}

@-webkit-keyframes pulse {
    0% {
        background: rgba(255, 255, 255, 0.5);
    }
    100% {
        background: rgba(255, 255, 255, 0.8);
    }
}

@-moz-keyframes pulse {
    0% {
        background: rgba(255, 255, 255, 0.5);
    }
    100% {
        background: rgba(255, 255, 255, 0.8);
    }
}

@-ms-keyframes pulse {
    0% {
        background: rgba(255, 255, 255, 0.5);
    }
    100% {
        background: rgba(255, 255, 255, 0.8);
    }
}

@-o-keyframes pulse {
    0% {
        background: rgba(255, 255, 255, 0.5);
    }
    100% {
        background: rgba(255, 255, 255, 0.8);
    }
}

@keyframes pulse {
    0% {
        background: rgba(255, 255, 255, 0.5);
    }
    100% {
        background: rgba(255, 255, 255, 0.8);
    }
}

.dl-menuwrapper ol {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dl-menuwrapper li:not(.dl-subviewopen):not(.dl-subview):not(:last-child) {
    position: relative;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.dl-menuwrapper li span {
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    outline: none;
    position: relative;
    padding: 5px 10px;
}

.no-touch .dl-menuwrapper li span:hover {
    background: rgba(255, 255, 255, 0.1);
}

.dl-menuwrapper li.dl-back > span {
    padding-left: 30px;
    background: rgba(255, 255, 255, 0.1);
}

.dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > span:not(:only-child):after {
    position: absolute;
    top: 0;
    line-height: 30px;
    font-size: 10px;
    font-family: 'FontAwesome';
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\f054";
}

.dl-menuwrapper li.dl-back:after {
    left: 10px;
    color: inherit;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dl-menuwrapper li > span:after {
    right: 10px;
    color: inherit;
}

.dl-menuwrapper .dl-menu {
    margin: 5px 0 0 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.dl-menuwrapper li .dl-submenu {
    display: none;
}

.dl-menu.dl-subview li, .dl-menu.dl-subview li.dl-subviewopen > span, .dl-menu.dl-subview li.dl-subview > span {
    display: none;
}

.dl-menu.dl-subview li.dl-subview, .dl-menu.dl-subview li.dl-subview .dl-submenu, .dl-menu.dl-subview li.dl-subviewopen, .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu, .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block;
}

.dl-menuwrapper > .dl-submenu {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    margin: 0;
}

.dl-menu.dl-animate-out-3 {
    -webkit-animation: MenuAnimOut3 0.4s ease;
    -moz-animation: MenuAnimOut3 0.4s ease;
    animation: MenuAnimOut3 0.4s ease;
}

@-webkit-keyframes MenuAnimOut3 {
    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut3 {
    100% {
        -moz-transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes MenuAnimOut3 {
    100% {
        transform: translateZ(300px);
        opacity: 0;
    }
}

.dl-menu.dl-animate-in-3 {
    -webkit-animation: MenuAnimIn3 0.4s ease;
    -moz-animation: MenuAnimIn3 0.4s ease;
    animation: MenuAnimIn3 0.4s ease;
}

@-webkit-keyframes MenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn3 {
    0% {
        -moz-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn3 {
    0% {
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
    -webkit-animation: SubMenuAnimIn3 0.4s ease;
    -moz-animation: SubMenuAnimIn3 0.4s ease;
    animation: SubMenuAnimIn3 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn3 {
    0% {
        -moz-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn3 {
    0% {
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
    -webkit-animation: SubMenuAnimOut3 0.4s ease;
    -moz-animation: SubMenuAnimOut3 0.4s ease;
    animation: SubMenuAnimOut3 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut3 {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut3 {
    0% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -moz-transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut3 {
    0% {
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        transform: translateZ(-300px);
        opacity: 0;
    }
}

div#businessview-canvas ul#businessview-externalLinks-canvas {
    bottom: 30px;
    left: 2px;
    display: block;
    width: 60px;
}

div#businessview-canvasul#businessview-externalLinks-canvas li {
    background: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    height: 50px;
    width: 50px;
    float: left;
}

div#businessview-canvas .gm-iv-address {
    height: 100% !important
}

div#businessview-canvas .texticon-content {
/ / text-shadow: 0 1 px 2 px #fff;
    background: rgba(255, 255, 255, 0.7);
    padding: 3px;
    border-radius: 2px;
}

ul#businessview-externalLinks-canvas li:hover {
    background: rgba(255, 255, 255, 0.8);
}

div#businessview-canvasul#businessview-externalLinks-canvas.small li {
}

div#businessview-canvasul#businessview-externalLinks-canvas.medium li {
    font-size: 30px;
    line-height: 45px;
    height: 45px;
    width: 45px;
}

div#businessview-canvas ul#businessview-externalLinks-canvas.large li {
    font-size: 45px;
    line-height: 60px;
    height: 60px;
    width: 60px;
}

div#businessview-canvas ul#businessview-externalLinks-canvas li a {
    color: inherit;
    display: block;
    height: 100%;
    width: 100%;
}

div#businessview-canvas ul#businessview-externalLinks-canvas li a i.fa {
    line-height: 30px !important;
}

div#businessview-canvas.socialGallery-open ul#businessview-action-canvas, div#businessview-canvas.socialGallery-open ul#businessview-area-canvas, div#businessview-canvas.socialGallery-open div#businessview-contact-canvas, div#businessview-canvas.socialGallery-open div#businessview-opening-hours-canvas, div#businessview-canvas.socialGallery-open div#businessview-custom-canvas, div#businessview-canvas.socialGallery-open ul#businessview-gallery-canvas, div#businessview-canvas.socialGallery-open div#businessview-intro-canvas, div#businessview-canvas.socialGallery-open div#businessview-navigation-canvas, div#businessview-canvas.socialGallery-open
ul#businessview-externalLinks-canvas, div#businessview-canvas.socialGallery-open div#businessview-socialGallery-trigger {
    display: none !important;
}

div#businessview-canvas div#businessview-socialGallery-trigger {
    bottom: 10px;
    cursor: pointer;
    left: 50%;
    margin-left: -45px;
    position: absolute;
    z-index: 3;
}

div#businessview-canvas div#businessview-socialGallery-trigger div {
    background-position: center;
    background-size: cover;
    border: 2px solid rgba(255, 255, 255, 0.8);
    display: inline-block;
    height: 50px;
    overflow: hidden;
    width: 50px;
}

div#businessview-canvas div#businessview-socialGallery-trigger:hover div {
    border-color: rgba(255, 255, 255, 0.95);
}

div#businessview-canvas div#businessview-socialGallery-trigger div:nth-child(1) {
    margin: 0px;
}

div#businessview-canvas div#businessview-socialGallery-trigger div:nth-child(2) {
    margin-bottom: 10px;
    margin-left: -30px;
}

div#businessview-canvas div#businessview-socialGallery-trigger div:nth-child(3) {
    margin-bottom: 20px;
    margin-left: -30px;
}

div#businessview-canvas div#businessview-socialGallery-canvas {
    background: rgba(255, 255, 255, 0.95);
    bottom: 0px;
    font-family: Helvetica;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
}

div#businessview-canvas div#businessview-socialGallery-canvas.hidden {
    display: none;
}

div#businessview-canvas div#businessview-socialGallery-canvas #close-socialGallery {
    background: #eee;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    height: 20px;
    line-height: 1;
    padding: 10px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 10px;
    width: 20px;
    z-index: 11;
}

div#businessview-canvas div#businessview-socialGallery-canvas .wrapper {
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}

div#businessview-canvas div#businessview-socialGallery-canvas .wrapper .network .network-name {
    font-size: 20px;
}

div#businessview-canvas div#businessview-socialGallery-canvas .wrapper .network .network-name a {
    color: inherit;
    text-decoration: none;
}

div#businessview-canvas div#businessview-socialGallery-canvas .wrapper .network .network-name i.fa {
    margin-right: 10px;
}

div#businessview-canvas div#businessview-socialGallery-canvas .wrapper .network hr {
    border-color: #999;
    margin: 10px 0px;
}

div#businessview-canvas div#businessview-socialGallery-canvas .wrapper .network.facebookPage .albums {
    margin-bottom: 10px;
}

div#businessview-canvas div#businessview-socialGallery-canvas .wrapper .network .albums li {
    cursor: pointer;
    display: inline-block;
    margin: 0px 10px 10px 0px;
}

div#businessview-canvas div#businessview-socialGallery-canvas .wrapper .network .albums .image-wrapper {
    height: 200px;
    overflow: hidden;
    width: 200px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

div#businessview-canvas div#businessview-socialGallery-canvas .wrapper .network .albums .name {
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px;
    white-space: nowrap;
    width: 190px;
}

div#businessview-canvas div#businessview-socialGallery-canvas .wrapper .network.facebookPage .photos {
    display: none;
}

div#businessview-canvas div#businessview-fullscreen-button {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-family: 'FontAwesome';
    font-size: 20px;
    height: 35px;
    left: 90px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 35px;
}

div#businessview-canvas div#businessview-fullscreen-button:hover {
    background: rgba(255, 255, 255, 0.8);
}

div#businessview-canvas div#businessview-fullscreen-button:before {
    content: "\f065";
}

div#businessview-canvas:-webkit-full-screen div#businessview-fullscreen-button:before {
    content: "\f066";
}

div#businessview-canvas:-moz-full-screen div#businessview-fullscreen-button:before {
    content: "\f066";
}

div#businessview-canvas:-ms-full-screen div#businessview-fullscreen-button:before {
    content: "\f066";
}

div#businessview-canvas:fullscreen div#businessview-fullscreen-button:before {
    content: "\f066";
}

div#businessview-canvas:-webkit-full-screen {
    height: 100% !important;
    width: 100% !important;
}

div#businessview-canvas:-moz-full-screen {
    height: 100% !important;
    width: 100% !important;
}

div#businessview-canvas:-ms-full-screen {
    height: 100% !important;
    width: 100% !important;
}

div#businessview-canvas:fullscreen {
    height: 100% !important;
    width: 100% !important;
}

div#businessview-canvas:-webkit-full-screen div#businessview-panorama-canvas {
    position: fixed !important;
    bottom: 0px !important;
    left: 0px !important;
    top: 0px !important;
    right: 0px !important;
    height: 100% !important;
    width: 100% !important;
}

div#businessview-canvas:-moz-full-screen div#businessview-panorama-canvas {
    position: fixed !important;
    bottom: 0px !important;
    left: 0px !important;
    top: 0px !important;
    right: 0px !important;
    height: 100% !important;
    width: 100% !important;
}

div#businessview-canvas:-ms-full-screen div#businessview-panorama-canvas {
    position: fixed !important;
    bottom: 0px !important;
    left: 0px !important;
    top: 0px !important;
    right: 0px !important;
    height: 100% !important;
    width: 100% !important;
}

div#businessview-canvas:fullscreen div#businessview-panorama-canvas {
    position: fixed !important;
    bottom: 0px !important;
    left: 0px !important;
    top: 0px !important;
    right: 0px !important;
    height: 100% !important;
    width: 100% !important;
}

:not(#tp3-iframe-embed) div#businessview-canvas:-webkit-full-screen ul#businessview-action-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-webkit-full-screen ul#businessview-gallery-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-webkit-full-screen div#businessview-opentable-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-webkit-full-screen div#businessview-socialGallery-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-webkit-full-screen div#businessview-socialGallery-trigger {
    display: none;
}

:not(#tp3-iframe-embed) div#businessview-canvas:-moz-full-screen ul#businessview-action-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-moz-full-screen ul#businessview-gallery-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-moz-full-screen div#businessview-opentable-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-moz-full-screen div#businessview-socialGallery-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-moz-full-screen div#businessview-socialGallery-trigger {
    display: none;
}

:not(#tp3-iframe-embed) div#businessview-canvas:-ms-full-screen ul#businessview-action-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-ms-full-screen ul#businessview-gallery-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-ms-full-screen div#businessview-opentable-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-ms-full-screen div#businessview-socialGallery-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:-ms-full-screen div#businessview-socialGallery-trigger {
    display: none;
}

:not(#tp3-iframe-embed) div#businessview-canvas:fullscreen ul#businessview-action-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:fullscreen ul#businessview-gallery-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:fullscreen div#businessview-opentable-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:fullscreen div#businessview-socialGallery-canvas, :not(#tp3-iframe-embed) div#businessview-canvas:fullscreen div#businessview-socialGallery-trigger {
    display: none;
}

div#businessview-canvas div#businessview-opentable-canvas {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 180px;
    height: 55px;
}

div#businessview-canvas div#businessview-opentable-canvas.top {
    top: 10px;
    bottom: inherit;
}

div#businessview-canvas div#businessview-opentable-canvas.middle {
    top: 50%;
    margin-top: -27px;
}

div#businessview-canvas div#businessview-opentable-canvas.bottom {
    bottom: 10px;
}

div#businessview-canvas div#businessview-opentable-canvas.left {
    left: 10px;
}

div#businessview-canvas div#businessview-opentable-canvas.center {
    left: 50%;
    margin-left: -90px;
}

div#businessview-canvas div#businessview-opentable-canvas.right {
    right: 10px;
    left: inherit;
}

div#businessview-canvas div#businessview-opentable-canvas.bottom.left {
    bottom: 40px;
}

div#businessview-canvas div#businessview-opentable-canvas .OTButton, div#businessview-canvas div#businessview-opentable-canvas .OTButton:hover, div#businessview-canvas div#businessview-opentable-canvas .OTButton:active, div#businessview-canvas div#businessview-opentable-canvas .OTButton:visited, div#businessview-canvas div#businessview-opentable-canvas .OTButton:focus, div#businessview-canvas div#businessview-opentable-canvas .OTButton:link {
    cursor: pointer;
    width: 180px;
    height: 45px;
    text-align: center;
    margin: 0px;
    padding: 5px 0;
    text-decoration: none !important;
}

div#businessview-canvas div#businessview-opentable-canvas .OTButton div.OTReserveNow, div#businessview-canvas div#businessview-opentable-canvas .OTButton:hover div.OTReserveNow, div#businessview-canvas div#businessview-opentable-canvas .OTButton:active div.OTReserveNow, div#businessview-canvas div#businessview-opentable-canvas .OTButton:visited div.OTReserveNow, div#businessview-canvas div#businessview-opentable-canvas .OTButton:focus div.OTReserveNow, div#businessview-canvas div#businessview-opentable-canvas .OTButton:link div.OTReserveNow {
    background-image: url("https://secure.opentable.de/img/frontDoor/ot_btn_red.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    font-family: Verdana, Arial, Helvetica, Sans-Serif !important;
    font-size: 16px !important;
    font-weight: normal !important;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    text-align: left;
    width: 170px;
    height: 31px;
    display: block;
    padding: 0;
    line-height: 29px;
    text-shadow: 0.1em 0.1em 0.2em black;
    border-radius: 7px;
    text-decoration: none !important;
}

div#businessview-canvas div#businessview-opentable-canvas .OTReserveNowInner {
    padding-left: 40px;
}

div#businessview-canvas div#businessview-opentable-canvas .OTButton div.OTPoweredBy, div#businessview-canvas div#businessview-opentable-canvas .OTButton:hover div.OTPoweredBy, div#businessview-canvas div#businessview-opentable-canvas .OTButton:active div.OTPoweredBy, div#businessview-canvas div#businessview-opentable-canvas .OTButton:visited div.OTPoweredBy, div#businessview-canvas div#businessview-opentable-canvas .OTButton:focus div.OTPoweredBy, div#businessview-canvas div#businessview-opentable-canvas .OTButton:link div.OTPoweredBy {
    font-family: Verdana, Arial, Helvetica, Sans-Serif !important;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    font-size: .65em !important;
    margin: 4px 0 0 0;
    display: block;
    text-decoration: none !important;
}

div#businessview-canvas div#businessview-sidebar-canvas {
    height: 100%;
    position: absolute;
    top: 10px;
    width: 242px;
    z-index: 4;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

div#businessview-canvas.sidebar-left div#businessview-sidebar-canvas {
    left: 10px;
}

div#businessview-canvas.sidebar-right div#businessview-sidebar-canvas {
    right: 10px;
}

div#businessview-canvas div#businessview-sidebar-canvas.open {
}

div#businessview-canvas div#businessview-sidebar-canvas.closed {
    width: 0px;
}

div#businessview-canvas div#businessview-sidebar-canvas .toggle {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    font-family: 'FontAwesome';
    font-size: 30px;
    font-weight: bold;
    height: 100%;
    line-height: 160px;
    position: absolute;
    text-align: center;
    width: 40px;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

div#businessview-canvas.sidebar-left div#businessview-sidebar-canvas .toggle {
    right: -40px;
}

div#businessview-canvas.sidebar-right div#businessview-sidebar-canvas .toggle {
    left: -40px;
}

div#businessview-canvas.sidebar-right div#businessview-sidebar-canvas.open .toggle:hover {
    width: 35px;
}

div#businessview-canvas.sidebar-left div#businessview-sidebar-canvas.open .toggle:hover {
    right: -35px;
}

div#businessview-canvas.sidebar-right div#businessview-sidebar-canvas.open .toggle:hover {
    left: -35px;
}

div#businessview-canvas.sidebar-right div#businessview-sidebar-canvas.closed .toggle:hover {
    width: 45px;
}

div#businessview-canvas.sidebar-left div#businessview-sidebar-canvas.closed .toggle:hover {
    right: -45px;
}

div#businessview-canvas.sidebar-right div#businessview-sidebar-canvas.closed .toggle:hover {
    left: -45px;
}

div#businessview-canvas.sidebar-left div#businessview-sidebar-canvas.open .toggle:after {
    content: '\f104';
}

div#businessview-canvas.sidebar-left div#businessview-sidebar-canvas.closed .toggle:after {
    content: '\f105';
}

div#businessview-canvas.sidebar-right div#businessview-sidebar-canvas.open .toggle:after {
    content: '\f105';
}

div#businessview-canvas.sidebar-right div#businessview-sidebar-canvas.closed .toggle:after {
    content: '\f104';
}

div#businessview-canvas div#businessview-sidebar-canvas .content {
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
}

div#businessview-canvas div#businessview-sidebar-canvas.closed .content {
    display: none;
}

div#businessview-canvas.sidebar-left div#businessview-sidebar-canvas .content {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

div#businessview-canvas.sidebar-right div#businessview-sidebar-canvas .content {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

div#businessview-canvas div#businessview-sidebar-canvas .content .logo {
    margin-bottom: 20px;
    text-align: center;
}

div#businessview-canvas div#businessview-sidebar-canvas .content .logo img {
    width: 100%;
}

div#businessview-canvas div#businessview-sidebar-canvas .content .wrapper > div, div#businessview-canvas div#businessview-sidebar-canvas .content .wrapper > ul {
    margin-bottom: 10px;
}

div#businessview-canvas div#businessview-sidebar-canvas .content ul#businessview-action-canvas {
    top: inherit;
    right: inherit;
    position: relative;
}

div#businessview-canvas div#businessview-sidebar-canvas .content div#businessview-contact-canvas {
    position: relative;
    max-width: 100%;
    bottom: inherit;
    right: inherit;
    left: inherit;
}

div#businessview-canvas div#businessview-sidebar-canvas .content div#businessview-contact-canvas #businessview-contact-details i.fa-times {
    display: none;
}

div#businessview-canvas div#businessview-sidebar-canvas .content div#businessview-navigation-canvas {
    left: inherit;
    position: relative;
    top: inherit;
    max-width: 100%;
}

div#businessview-canvas div#businessview-sidebar-canvas .content div#businessview-navigation-canvas button.dl-trigger {
    display: none;
}

div#businessview-canvas div#businessview-sidebar-canvas .content div#businessview-navigation-canvas ol.dl-menu {
    margin-top: 0px;
}

div#businessview-canvas div#businessview-sidebar-canvas .content div#businessview-navigation-canvas.dl-menu.dl-animate-out-3 {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

div#businessview-canvas div#businessview-sidebar-canvas .content div#businessview-navigation-canvas.dl-menu.dl-animate-in-3 {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

div#businessview-canvas div#businessview-sidebar-canvas .content div#businessview-navigation-canvas.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

div#businessview-canvas div#businessview-sidebar-canvas .content div#businessview-navigation-canvas.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

div#businessview-canvas.sidebar-left div#businessview-fullscreen-button {
    left: inherit;
    right: 90px;
}

div#businessview-canvas.sidebar-left ul#businessview-externalLinks-canvas {
    left: inherit;
    right: 10px;
}

div#businessview-canvas div#businessview-infopoint-canvas .infoPoint {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    color: #333;
    cursor: pointer;
    display: none;
    position: absolute;
    text-align: center;
    z-index: 3;
}

div#businessview-canvas div#businessview-infopoint-canvas .infoPoint.small {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    width: 30px;
}

div#businessview-canvas div#businessview-infopoint-canvas .infoPoint.medium {
    font-size: 30px;
    height: 45px;
    line-height: 45px;
    width: 45px;
}

div#businessview-canvas div#businessview-infopoint-canvas .infoPoint.large {
    font-size: 40px;
    height: 65px;
    line-height: 65px;
    width: 65px;
}

div#businessview-canvas div#businessview-infopoint-canvas .infoPoint.pulse {
    -webkit-animation: pulse 1s infinite alternate;
    -moz-animation: pulse 1s infinite alternate;
    -ms-animation: pulse 1s infinite alternate;
    -o-animation: pulse 1s infinite alternate;
    animation: pulse 1s infinite alternate;
}

@-webkit-keyframes pulse {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes pulse {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes pulse {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes pulse {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

div#businessview-canvas div#businessview-infopoint-canvas .infoPoint.pulse:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
}

div#businessview-canvas div#businessview-infopoint-canvas .infoPoint i.fa {
    line-height: inherit;
}

div#businessview-canvas div#businessview-infopoint-canvas .infoPoint .tooltip {
    background-color: inherit;
    color: inherit;
    position: absolute;
    font-size: 14px;
    padding: 5px;
    visibility: hidden;
    opacity: 1;
    text-align: left;
    min-width: 180px;
    line-height: 150%;
    margin-top: 5px;
    margin-bottom: 5px;
}

div#businessview-canvas div#businessview-infopoint-canvas .infoPoint .tooltip.visible {
    visibility: visible;
}

div#businessview-canvas div#businessview-infopoint-canvas .infoPoint .tooltip > p:only-child {
    margin: 0px;
}

div#businessview-canvas div.fa-facebook, div#businessview-canvas div.fa-google-plus, div#businessview-canvas div.fa-twitter {
    display: inline-block;
    font: normal normal normal 22px/1 FontAwesome;
    font-size: 22pt;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 10px;
    padding: 5px 15px;
}

#businessview-panorama-canvas section .container * {
    z-index: 6;
}

#businessview-panorama-canvas .text {
    background: rgba(255, 255, 255, 0.7);
    padding: 3px;
    border-radius: 2px;
}

#businessview-panorama-canvas main {
    z-index: 7;
}

#businessview-panorama-canvas .row *,
#businessview-canvas .container * {
    position: relative;
}